.home-page{
    background-color: white;
    padding: 2em;
}



.headingr{
position: absolute;
width:400px;
height: 200px;
left: 80px;
top: 158px;

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 59px;
letter-spacing: 0.01em;

color: rgba(77, 1, 137, 0.87);
}

.para{

position: absolute;
top: 340px;
left: 80px;
height: 200px;
width: 400px;


font-family:'Raleway';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 39px;
text-align: justify;
text-transform: capitalize;

color: #000000;

}

.heading{
    position: absolute;
    width: 370px;
    height: 200px;
    left: 550px;
    top: 776px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
   
    
    letter-spacing: 0.01em;
    
    color: #4D0189;
}

.algo1{
 position: absolute;
width: 617px;
height: 46px;
left: 720px;
top: 870px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 46px;


letter-spacing: 0.09em;
text-transform: capitalize;

color: #000000;


}

.para1{
position: absolute;
width: 628px;
height:119px;
left: 720px;
top: 981px;

font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 40px;

text-transform: capitalize;

color: #000000;
}

.button1{
    box-sizing: border-box;
    position: absolute;
    width: 251px;
    height: 53px;
    left: 742px;
    top: 1300px;
    
    border: 1px solid #000000;
    border-radius: 4px;
    }

.algo2{
    
    position: absolute;
    width: 396px;
    height: 46px;
    left: 101px;
    top: 1465px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 46px;
    
    
    letter-spacing: 0.09em;
    text-transform: capitalize;
    
    color: #000000;
}

.para2{
    position: absolute;
width: 588px;
height:158px;
left: 101px;
top: 1519px;

font-family: 'Raleway';
font-style: normal;
font-weight:300;
font-size: 22px;
line-height: 40px;

text-transform:capitalize;

color: #000000;
}
.button2{
    box-sizing: border-box;

    position: absolute;
    width: 251px;
    height: 53px;
    left: 101px;
    top: 1758px;
    
    border: 1px solid #000000;
    border-radius: 4px;

}

.algo3{
    position: absolute;
    width: 584px;
    height: 92px;
    left: 760px;
    top: 1923px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
   
    letter-spacing: 0.09em;
    text-transform: capitalize;
    
    color: #000000;
}

.para3{
    position: absolute;
    width: 628px;
    height: 119px;
    left: 760px;
    top: 2027px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
   
    
    text-transform: capitalize;
    
    color: #000000;

}

.button3{
    box-sizing: border-box;

    position: absolute;
    width: 251px;
    height: 53px;
    left: 776px;
    top: 2276px;
    
    border: 1px solid #000000;
    border-radius: 4px;
}

.algo4{
 position: absolute;
width: 523px;
height: 92px;
left: 82px;
top: 2441px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 46px;


letter-spacing: 0.09em;
text-transform: capitalize;

color: #000000;

}

.para4{
    position: absolute;
width: 588px;
height: 158px;
left: 82px;
top: 2540px;

font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 40px;

text-transform: capitalize;

color: #000000;

}

.button4{
box-sizing: border-box;

position: absolute;
width: 251px;
height: 53px;
left: 80px;
top: 2800px;

border: 1px solid #000000;
border-radius: 4px;

}

.img1{
    position: absolute;
width: 80px;
height: 50px;
left: 553px;
top: 160px;

}

.img2{
position: absolute;
width: 470px;
height: 470px;
left: 80px;
top: 927px;

}

.img3{
position: absolute;
width: 648px;
height: 498px;
left: 720px;
top: 1400px;
}

.img4{
    position: absolute;
width: 685px;
height: 524px;
left: 30px;
top: 1870px;
}


.img5{
    position: absolute;
width: 728px;
height: 442px;
left: 720px;
top: 2441px;
}