.Heading{
    margin :25px 550px;

}

.Frames{
    margin : 50px 550px;
    padding: auto;

}
.PageRefrences{
    margin : 60px 550px;
    padding: auto;

}

.btn{
    margin: 57px 660px;
    padding: 20px;
}

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #ddd;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }
  table.table td.pageFault {
    background-color: red;
  }

  .pageFault{
background-color: red;
  }

  .misses{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(46, 148, 188);
  }

  .hits{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(46, 148, 188);

  }

 
.hitRate{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(46, 148, 188); 
}

  .totalRef{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(46, 148, 188);
  }

  .missrate{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(46, 148, 188); 
  }