.Heading{
    
    color:  rgb(242 49 137);

}

.Frames{
    margin : auto;
    padding: auto;

}
.PageRefrences{
    margin : auto;
    padding: auto;

}

.btn{
    margin: auto;
    padding: 20px;
    
}

.table {
    border-collapse: collapse;
    width: 100%;
   
  }
  
  .table th,
  .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    
  }
  
  .table th {
    background-color: #ddd;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }

  .table tr:nth-child(0) {
    background-color: #f2f2f2;
    
  }


  table.table td.pageFault {
    background-color: red;
  }

  .pageFault{
background-color: red;
  }

  .misses{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgb(0 121 117);
  }

  .hits{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color:  rgb(0 121 117);

  }

 
.hitRate{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color:  rgb(0 121 117);
}

  .totalRef{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(0 121 117);
  }

  .missrate{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(0 121 117);
  }

   /* table tr td:nth-child(3) {
    background-color: green;
  }
  
  table tr.increased td:nth-child(3) {
    background-color: red;
  }  */

  .red{
    background-color: rgb(255, 182, 182);
  }

  .green{
    background-color: rgb(181, 253, 181);
  }

  body {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Frames{
    color: rgba(77, 1, 137, 0.87);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .PageRefrences{

    color: rgba(77, 1, 137, 0.87);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

 
