/* 
  .critical-section{
    background-color: rgba(0, 0, 0, 0.3);
    width: 15em;
    height: 8em;
    position: absolute;
    top: 5em;
    left: 8.5in;
  }
  .critical-section p{
    color: white;
  } */
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  /* .ball {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top:170px;
  } */
  
  .ball.move-left {
    animation: move-left 2s forwards;
  }
  
  .ball.move-right {
    animation: move-right 2s forwards;
  }
  
  @keyframes move-left {
    0% {
      left: 0%;
    }
    100% {
      left: 50%;
    }
  }
  
  @keyframes move-right {
    0% {
      right: 0%;
    }
    100% {
      right: 50%;
    }
  }
  .critical-section{
    background-color: rgb(0, 0, 0);
    width: 15em;
    height: 8.5em;
    position: absolute;
    /* top: 2.7em; */
    left: 8.56in;
    z-index: -1;
    color:rgb(249, 246, 246);
    margin-top: 100px;
  }
  .critical-section p{
    color: white;
  }

  .Remainder-section{
    background-color:  rgb(147, 197, 219);
    width: 30em;
    height: 8.5em;
    position: absolute;
    /* top: 2.7em; */
    margin-top: 100px;
    left: 11.055in;
    z-index: -1;
    color:rgb(12, 12, 12);
  }
  .Remainder-section p{
    color: white;
  }

  
  .Entry-section{
    background-color: rgb(147, 197, 219);
    width: 85px;
    height: 8.5em;
    position: absolute;
    /* top: 2.7em; */
    margin-top: 100px;
    left:7.67in;
    color: rgb(0, 0, 0);
    
    z-index: -1;
  }
  .Entry-section p{
    color: rgb(212, 140, 116);
  }

  .Simulate{
    top:2000px;
    position: absolute;
    left:650px;
    padding: 7px;
  }

  .exit-cirtical-section{
    top:2000px;
    position: absolute;
    left:750px;
    padding: 7px;
  }

  .peterson-information-section main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */
    background-image: url('../Images/petersonpic.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /* opacity: 0.9; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Images/petersonpic.jpg');
  }
  
  .peterson-information-section h1, p{
    color: #E5E5E2;
  }
  
  .peterson-information-section h1{
    font-size: 50px;
  }
  /* .peterson-info{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
  }
  .peterson-info h1{
    color: black;
    margin-left: 4em;
  }
  .peterson-info code{
    color: black;
    font-size: 1.5em;
    font-weight: 200;
    padding: 3em;
  }
  .peterson-info li{
    color: black;
    list-style-type: disc;
  }
  .peterson-info ul{
    padding-left: 3em;
  } */
  .peterson-information-section section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .peterson-info{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: #e0e0e0; */
    background-image: linear-gradient(to bottom right, rgb(24 27 29), rgb(72 72 142) );
    
  }
  .peterson-info h1{
    color: white;
    margin-left: 4em;

  }
  .peterson-info p{
    color: white;
    font-size: 1.5em;
    font-weight: 200;
    padding: 3em;
    text-align: justify;
  }
  .peterson-info li{
    color: white;
    list-style-type: disc;
  }
  .peterson-infoinfo ul{
    padding-left: 3em;
  }

  .peterson{
    background-image: linear-gradient(
    to bottom right,
    rgb(133, 204, 255),
    rgb(193, 145, 255));
    
  }

  .peterson h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    color: white;
    padding: 1.5em;
  }
  